* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #1737a8;
}

h1 {
  color: aliceblue;
}

a {
  text-decoration: none;
}

nav {
  background-color: #1737a8;
}

nav a {
  color: aliceblue;
  text-decoration: none;
}

nav a:hover {
  color: #c7cbd8;
}

label {
  color: aliceblue;
}

.add-box{
  border: solid black 2px;
  background-color: #1737a8;
  margin: 1rem;
}

.add-form{
  display: grid;
  grid-template-columns: 12rem 10rem 5rem 10rem 12rem; 
  grid-template-rows: 3rem 3rem 1.5rem;
}

.add-button{
  grid-row: 3/4;
  grid-column: 3/4; 
}

.scores{
  grid-column-start: 1;
  grid-row-start: 3;
}

.complete{
  grid-column-start: 5;
}

.chapters{
  grid-column-start: 5;
  grid-row-start: 2;
}

#media-title{
  grid-row: 2/3;
}

.addbutton {
  background-color: #1737a8;
  padding: 0.5rem 1rem;
  font-size: 20px;
  color: aliceblue;
  cursor: pointer;
}

.button {
  background-color: aliceblue;
  color: black;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
}

.show {
  display: block;
}

.list-body{
  display: grid;
  grid-template-columns: 10vw 80vw 10vw;
  grid-template-rows: 7vh 83vh 10vh;
}

.list-item{
  display: block;
  max-width: 88vw;
  margin-top: 0.5rem;
  border: solid 0.225rem black;
  background-color: aliceblue;
  margin-left: 1vw;
  margin-right: 1vw;
}

.list{
  display: grid;
  grid-template-columns: 1fr;
  overflow-y: scroll;
  background-color: #1737a8;
  max-height: 100vh;
}

.list-info{
  border-left: solid black;
}

.list-desc{
  border-right: solid black;
}

.list-header{
  grid-column: 1/4;
  border-bottom: solid black;
}

.list-footer{
  grid-column: 1/4;
  grid-row: 3;
  border-top: solid black;
  background-color: #1737a8;
}



