* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #1737a8;
}

h1 {
  color: aliceblue;
}

nav {
  background-color: #1737a8;
}

nav a {
  color: aliceblue;
  text-decoration: none;
}

nav a:hover {
  color: #c7cbd8;
}

label {
  color: black;
}

.addbutton {
  background-color: #1737a8;
  padding: 0.5rem 1rem;
  font-size: 20px;
  color: aliceblue;
  cursor: pointer;
}

.type-button {
  background-color: #1737a8;
  color: aliceblue;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
}

.show {
  display: block;
}
